<% provide(:title, "New Campaign")%>

<div class="flex container mx-auto px-4 mt-3">
  <div class="w-full">
    <div class="w-full mx-auto my-4 bg-white shadow-xl rounded-xl">
      <div class="p-6">
        <h1 class="font-bold text-2xl text-gray-500">Create A Campaign</h1>
        <div class="py-2 text-sm text-gray-500 font-semibold">
          You will be charged total <%= current_user.audiences.count %> credits depending on your audiences. View your <i class="fa-solid fa-arrow-right mr-2"></i> <%= link_to "Audience List", audiences_path%>
        </div>
        <%= render "form", campaign: @campaign %>
        <%= link_to campaigns_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" do %>
          <i class="fa-solid fa-angle-left"></i> Back
        <% end %>
      </div>
    </div>
  </div>
</div>